* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: black;
}

.page_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://www.publicdomainpictures.net/pictures/320000/velka/abstrakt-wasserfarbe-hintergrund-1575395840syM.jpg');
  background-size: cover;
  background-position: center;
}

.back {
  display: none;
  position: fixed;
  top: 100px;
  left: 300px;
  border-radius: 50%;
  color: #718096;
  transition: all 0.2s;
  cursor: pointer;
}

.back:hover {
  color: #2D3748;
}

.selector_container {
  width: 500px;
  display: flex;
  justify-content: space-between;
  /* display: none; */
}

.tetris_selector {
  background: #B794F4;
  border: 1px solid #805AD5;
}

.tetris_selector:hover {
  /* background: rgb(163, 131, 218); */
}

.second_selector {
  background: #68D391;
  border: 1px solid rgb(59, 121, 83);
}

.second_selector:hover {
  /* background: rgb(90, 182, 125); */
}

.selector {
  height: 300px;
  width: 200px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  transition: all 0.2s;
  text-align: center;
}

.selector:hover {
  -webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.25);
  box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.25);
}


.tetris {
  justify-content: center;
  align-items: center;
  /* display: flex; */
  display: none;
}

.side_bar {
  text-align: center;
  padding: 20px 28px;
  min-width: 180px;
  max-width: 180px;
  height: 602px;
  background: #cadefc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid rgb(129, 106, 148);
}

.game_container {
  position: relative;
  min-width: 301px;
  max-width: 301px;
  display: flex;
  flex-wrap: wrap;
  background: #CCA8E9;
  overflow: hidden;
  border-top: 1px solid rgb(129, 106, 148);
  border-right: 1px solid rgb(129, 106, 148);
  border-bottom: 1px solid rgb(129, 106, 148);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.game_square {
  width: 30px;
  height: 30px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.game_container > .game_square {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.game_container > .game_square:nth-child(10n + 2) {
  border-left: 0px solid rgba(0, 0, 0, 0.1);
}

.game_container > .game_square:nth-child(n+232) {
  border-bottom: 0px solid rgba(0, 0, 0, 0.1);
}

.next, .bank {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  border-bottom: 1px solid #8cb0e6;
  border-top: 1px solid #8cb0e6;
  overflow: hidden;
}

h2 {
  padding: 5px 0;
}

.maroon {
  background: #E53E3E;
  -webkit-box-shadow: 0px 15px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 0px 0px  rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 0px 0px  rgba(0, 0, 0, 0.25);
}

.magenta {
  background: #D69E2E;
  -webkit-box-shadow: 0px 15px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 0px 0px  rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 0px 0px  rgba(0, 0, 0, 0.25);
}

.cyan {
  background: #319795;
  -webkit-box-shadow: 0px 15px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 0px 0px  rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 0px 0px  rgba(0, 0, 0, 0.25);
}

.green {
  background: #38A169;
  -webkit-box-shadow: 0px 15px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 0px 0px  rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 0px 0px  rgba(0, 0, 0, 0.25);
}

.gold {
  background: #6B46C1;
  -webkit-box-shadow: 0px 15px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 0px 0px  rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 0px 0px  rgba(0, 0, 0, 0.25);
}

.score {
  font-size: 40px;
  /* background: chocolate; */
}

.start {
    border: 1px solid #8cb0e6;
    background: rgb(184, 255, 248);
    cursor: pointer;
    padding: 20px 0;
    transition: all 0.2s;
    margin-bottom: 30px;
}

.start:hover {
  background: #02FFE6;
}

.invis {
  display: none;
}

.paused {
  text-align: center;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #8cb0e6;
  background: #DEFCF9;
  padding: 10px 20px;
  display: none;
  border-radius: 5px;
}